.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--border) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
} 